figure {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  transition: transform 0.3s ease;
  transform-origin: center;
  will-change: transform;
  height: 30vh;
}


figure > img {
  position: relative;
  width: 100%;
  height: 85%;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
  transition: transform 0.3s ease;
  will-change: transform;
  z-index: 1;
}

.lookup-icon {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 30%;
  right: 7%;
  background-color: transparent;
  border: none;
  z-index: 100;
  transition: all 0.3s ease;
  outline: none;
}

.lookup-icon > img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
  transition: transform 0.3s ease;
  will-change: transform;
  z-index: 1;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  /*gap: 1rem;*/
  overflow: hidden;
  height: auto;
}

figcaption {
  transition: font-size 0.3s ease;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

figure:hover img {
  transform: scale(1.05);
}

figure:hover figcaption {
  font-size: 2rem;
}

figure:hover .lookup-icon {
  transform: scale(1.2);
  cursor: pointer;
}

.lookup-icon:hover {
  transform: scale(1.5) !important;
  z-index: 10;
}

