* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  position: relative;
  height: 100%;
}

section {
  /*border: 2px solid black;*/
  border-radius: 1rem;
  margin: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  height: auto;
}

.main-header {
  text-align: center;
  font-size: 3rem;
  /*border: 2px solid rgba(0, 0, 0, 0.028);*/
  border-radius: 2rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-shadow: -2px 2px 5px red;
  background-color: black;
}

.main-grid-list {
  position: relative;
  margin-top: 2rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 10px;
  padding: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  .main-grid-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .main-grid-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 550px) {
  section {
    padding: 0;
    margin: 0;
  }
}
